@page
@model eBookStoreWebClient.Pages.Homes.AdminHomePageModel
@{
}
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Authors/Index">Author management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Books/Index">Book management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Publishers/Index">Publisher management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Users/Index">User management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" asp-area="" asp-page="/Logout">Logout</a>
    </li>
</ul>